* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/background/index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

sup {
    top: -0.75em !important;
}

sub,
sup {
    font-size: 0.5em !important;
}

label {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40em;
    height: 30em;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.flip-card .front,
.flip-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 0 20px 0 20px;
}

.flip-card .back {
    transform: rotateY(180deg);
}

input {
    display: none;
}

.flip-card.active {
    transform: rotateY(180deg);
}

.front {
    animation: envelopeFloat 3s ease-in-out infinite;
    transform-style: preserve-3d;
}

@keyframes envelopeFloat {
    0% {
        transform: rotateY(0deg) translateY(0);
    }

    25% {
        transform: rotateY(8deg) translateY(-3px);
    }

    50% {
        transform: rotateY(0deg) translateY(0);
    }

    75% {
        transform: rotateY(-8deg) translateY(-3px);
    }

    100% {
        transform: rotateY(0deg) translateY(0);
    }
}

.front img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.wrapper {
    height: 15em;
    width: 40em;
    position: relative;
    display: flex;
    justify-content: center;
    background: #eae5e5;
    z-index: 0;
    border-radius: 25px;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 20em solid transparent;
    border-bottom: 8em solid transparent;
    border-left: 20em solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
    border-radius: 25px;
}


/* Lid when closed */

.lid.one {
    border-top: 8em solid;
    transform: rotateX(0deg);
    z-index: 4;
    transition-delay: 0.75s;
    border-image: url(images/envelop/lid-1.png) 50%;
    object-fit: cover;
}

/* Lid when opened */

.lid.two {
    top: 12px;
    border-top: 15em solid #eaeaea;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 15em solid transparent;
    border-right: 20em solid #FEF0F1;
    border-bottom: 15em solid #FFEBEE;
    border-left: 20em solid #FEF0F1;
    z-index: 3;
    border-radius: 25px;
}

.letter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
}

.letter img {
    text-align: center;
    border-radius: 15px;
    width: 90%;
    transition: all 0.9s;
}

.letter .click-me {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 20px;
    right: 20px;
}



.wrapper.active .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper.active .lid.one::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: auto;
}

.wrapper.active .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper.active .letter {
    animation: letterLift 1.5s ease forwards;
}

.wrapper.active .letter .click-me {
    animation: clickIcon 0.8s ease-out 1.3s forwards;
}


@keyframes letterLift {

    0% {
        transform: translateY(0px) rotate(0deg);
        z-index: 2;
    }

    50% {
        transform: translateY(-150px) rotate(5deg);
        z-index: 2;
    }

    55% {
        z-index: 5;
    }

    100% {
        transform: translateY(-60px) rotate(3deg);
        z-index: 5;
    }
}

@keyframes clickIcon {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1680px) {
    label {
        width: 400px;
        height: 300px;
    }

    .wrapper {
        height: 150px;
        width: 400px;
    }

    .lid {
        border-right: 200px solid transparent;
        border-bottom: 80px solid transparent;
        border-left: 200px solid transparent;
    }

    .lid.one {
        border-top: 80px solid;
    }

    .lid.two {
        border-top: 150px solid #eaeaea;
    }

    .envelope {
        border-top: 150px solid transparent;
        border-right: 200px solid #FEF0F1;
        border-bottom: 150px solid #FFEBEE;
        border-left: 200px solid #FEF0F1;
    }
}