@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/*--------- Home ---------*/

.menu-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(images/background/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.9s ease-in;
}

.menu-bg.active {
    transition: none !important;
}

.menu-bg.act1 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(images/background/bride-groom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-bg.act2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(images/background/wedding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-bg.act3 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(images/background/reception.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle {
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: transparent;
    transition: 0.5s;
}

.main-circle.active .circle {
    transition: none !important;
    animation: pageTransition 0.75s;
}

.main-circle.act1 .circle,
.main-circle.act2 .circle,
.main-circle.act3 .circle {
    height: 1000px;
    width: 1000px;
}

.main-circle.act1 .circle {
    top: -1150px;
    left: 180%;
}

.main-circle.act2 .circle {
    top: -1150px;
    left: 180%;
    transform: rotate(-132deg);
}

.main-circle.act2 .circle #two img {
    top: -100px;
    left: 40%;
    transform: rotate(132deg);
}

.main-circle.act3 .circle {
    top: -1150px;
    left: 180%;
    transform: rotate(-260deg);
}

.main-circle.act3 .circle #three img {
    transform: rotate(260deg);
}


/*----- lifecycle -----*/

.circle .lifecycle img {
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;
    transition: 0.5s;
}

.main-circle.act1 .circle .lifecycle img,
.main-circle.act2 .circle .lifecycle img,
.main-circle.act3 .circle .lifecycle img {
    top: 0;
    left: 0;
    width: 1000px;
    height: 800px;
    transition: 0.5s;
}

.main-circle.active .circle .lifecycle img {
    transition: none !important;
}


/*-----      -----*/


/*----- Sample -----*/

.circle img:nth-child(2) {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0%;
    transition: 0.5s ease-out;
}

.main-circle.act1 img:nth-child(2),
.main-circle.act2 img:nth-child(2),
.main-circle.act3 img:nth-child(2) {
    display: none;
}


/*-----      -----*/


/*----- Image-1 -----*/

.circle #one img {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 25%;
    transition: 0.5s;
}

.main-circle.active .circle #one img {
    transition: none !important;
}

.circle #one p {
    position: absolute;
    left: -120px;
    bottom: 70px;
    text-align: center;
    font-family: "Satisfy", sans-serif;
    letter-spacing: 0px;
    color: #fcd196;
    opacity: 1;
    font-size: 25px;
}

.main-circle.act1 #one p,
.main-circle.act2 #one p,
.main-circle.act3 #one p {
    display: none;
}

/*-----       -----*/


/*----- Image-2 -----*/

.circle #two img {
    position: absolute;
    top: -50px;
    left: 37%;
    width: 25%;
    transition: 0.5s;
}

.main-circle.active .circle #two img {
    transition: none !important;
}

.circle #two p {
    position: absolute;
    top: -70px;
    right: 210px;
    text-align: center;
    font-family: "Satisfy", sans-serif;
    letter-spacing: 0px;
    color: #fcd196;
    opacity: 1;
    font-size: 25px;
}

.main-circle.act1 #two p,
.main-circle.act2 #two p,
.main-circle.act3 #two p {
    display: none;
}


/*-----      ------*/


/*----- Image-3 -----*/

.circle #three img {
    position: absolute;
    bottom: 50px;
    right: -10px;
    width: 25%;
    transition: all 0.5s;
}

.main-circle.active .circle #three img {
    transition: none !important;
}

.circle #three p {
    position: absolute;
    text-align: center;
    font-family: "Satisfy", sans-serif;
    letter-spacing: 0px;
    color: #fcd196;
    opacity: 1;
    font-size: 25px;
    bottom: 70px;
    right: -20%;
}

.main-circle.act1 #three p,
.main-circle.act2 #three p,
.main-circle.act3 #three p {
    display: none;
}

/*-----      -----*/



/*---- Details -----*/

.details .one,
.details .two,
.details .three,
.details .four,
.details .five {
    display: none;
}

.details.act1 .one {
    display: block;
    position: absolute;
    width: 45%;
    height: 40%;
    top: 350px;
    left: 1600px;
}

.details.act2 .two {
    display: block;
    position: absolute;
    width: 45%;
    height: 40%;
    top: 350px;
    left: 1600px;
}

.details.act3 .three {
    display: block;
    position: absolute;
    width: 45%;
    height: 40%;
    top: 350px;
    left: 1600px;
}

.details.act1 .header,
.details.act2 .header,
.details.act3 .header {
    padding: 5px 10px;
    text-align: left;
    font: 400 3em Lobster;
    color: #e9c372;
}

.details.act1 .section-header,
.details.act2 .section-header,
.details.act3 .section-header {
    padding: 5px 10px;
    text-align: left;
    font-family: Great Vibes;
    font-size: 3em;
    color: #ffdb8d;
}

.details.act1 .paragraph,
.details.act2 .paragraph,
.details.act3 .paragraph {
    padding: 5px 10px;
    width: 90%;
    text-align: left;
    letter-spacing: 1px;
    font-family: Satisfy;
    color: #ffe6b0;
    font-size: 2.05em;
}

.details.act2 a,
.details.act3 a {
    margin: 10px 5px;
    width: 150px;
    height: 40px;
    background: linear-gradient(180deg, #ffdb8d 0%, #e9c372 100%);
    box-shadow: 6px 6px 12px #005d0748;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    color: #ffff;
    font-size: 15px;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details.act2 a:hover,
.details.act3 a:hover {
    background: linear-gradient(360deg, #e9c372 0%, #ffdb8d 100%);
}

.details.act1 img {
    position: absolute;
    top: 300px;
    left: -500px;
}


/*----- Nav Button -----*/

.nav-button {
    display: none;
}

.nav-button.active {
    padding: 20px 40px;
    margin-bottom: 20px;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-button.active a:nth-child(1),
.nav-button.active a:nth-child(2),
.nav-button.active a:nth-child(3) {
    width: 65px;
    height: 55px;
    background: transparent linear-gradient(180deg, #ffdb8d 0%, #e9c372 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    margin-right: 10px;
}

.nav-button.active a:nth-child(1) img {
    width: 100%;
    height: 100%;
}

.nav-button.active a:nth-child(2) img {
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}

.nav-button.active a:nth-child(3) img {
    width: 100%;
    height: 100%;
}

.main-container {
    animation: pageTransition 0.75s;
}


@keyframes pageTransition {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1.0);
    }
}


@media screen and (max-width: 2560px) {

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        top: -810px;
        left: 140%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        top: 350px;
        left: 1300px;
    }

}

@media screen and (max-width: 1920px) {

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        top: -650px;
        left: 110%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        top: 250px;
        left: 900px;
    }

    .details.act1 .one .header,
    .details.act2 .two .header,
    .details.act3 .three .header {
        font-size: 2.05em;
    }

    .details.act1 .section-header,
    .details.act2 .section-header,
    .details.act3 .section-header {
        font-size: 2.5em;
    }

    .details.act1 .paragraph,
    .details.act2 .paragraph,
    .details.act3 .paragraph {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 1680px) {

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        top: -600px;
        left: 100%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        top: 200px;
        left: 750px;
    }

}

@media screen and (max-width: 1440px) {

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        top: -500px;
        left: 85%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        top: 250px;
        left: 600px;
    }

    .details.act1 .one .header,
    .details.act2 .two .header,
    .details.act3 .three .header {
        font-size: 1.5em;
    }

    .details.act1 .section-header,
    .details.act2 .section-header,
    .details.act3 .section-header {
        font-size: 1em;
    }

    .details.act1 .paragraph,
    .details.act2 .paragraph,
    .details.act3 .paragraph {
        font-size: 0.8em;
    }

}

@media screen and (max-width: 1024px) {

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        top: -500px;
        left: 75%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        top: 150px;
        left: 400px;
    }

    .details.act1 img {
        left: -300px;
    }

}

@media screen and (max-width: 820px) {

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        top: -700px;
        left: 60%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        width: 80%;
        top: 300px;
        left: 20px;
    }

    .details.act1 .one .header,
    .details.act2 .two .header,
    .details.act3 .three .header {
        font-size: 1.75em;
    }

    .details.act1 .section-header,
    .details.act2 .section-header,
    .details.act3 .section-header {
        font-size: 1.05em;
    }

    .details.act1 .paragraph,
    .details.act2 .paragraph,
    .details.act3 .paragraph {
        font-size: 0.9em;
    }

    .details.act1 img {
        left: 0px;
    }

}

@media screen and (max-width: 600px) {
    .circle {
        height: 300px;
        width: 300px;
    }

    .circle img:nth-child(2) {
        width: 100%;
        bottom: 10px;
    }

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        height: 400px;
        width: 400px;
        top: -470px;
        left: 80%;
    }

    .circle .lifecycle img {
        width: 300px;
        height: 240px;
    }

    .main-circle.act1 .circle .lifecycle img,
    .main-circle.act2 .circle .lifecycle img,
    .main-circle.act3 .circle .lifecycle img {
        width: 400px;
        height: 320px;
    }

    .main-circle.act2 .circle #two img {
        top: -40px;
        left: 50%;
    }

    .main-circle.act2 .circle #three img {
        top: 140px;
        left: 40%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        width: 80%;
        top: 150px;
        left: 20px;
    }

    .circle #one img {
        bottom: 20px;
        left: 0;
    }

    .circle #one p {
        left: 0px;
        bottom: -10px;
        font-size: 15px;
    }

    .circle #two img {
        top: -10%;
    }

    .circle #two p {
        left: 125px;
        top: -15%;
        font-size: 15px;
    }

    .circle #three img {
        bottom: 20px;
        right: 0;
    }

    .circle #three p {
        text-align: center;
        font-size: 15px;
        bottom: -10px;
        right: 10px;
    }

    .circle a:nth-child(6) img {
        top: 35px;
        right: -6%;
    }

    .circle a:nth-child(6) p {
        font-size: 10px;
        top: 20%;
        right: -30%;
    }

    .circle a:nth-child(7) img {
        bottom: 20px;
        right: 0;
    }

    .circle a:nth-child(7) p {
        font-size: 10px;
        bottom: 10px;
        right: -30%;
    }

    .main-circle .button button {
        bottom: 0px;
        left: 28%;
        width: 100px;
        height: 30px;
        font-size: 10px;
    }

    .details.act1 .one .header,
    .details.act2 .two .header,
    .details.act3 .three .header {
        font-size: 1.5em;
    }

    .details.act1 .section-header,
    .details.act2 .section-header,
    .details.act3 .section-header {
        font-size: 1em;
    }

    .details.act1 .paragraph,
    .details.act2 .paragraph,
    .details.act3 .paragraph {
        font-size: 0.8em;
    }

    .details.act1 img {
        left: -150px;
    }

    .nav-button.active {
        margin-bottom: 50px;
    }

    .nav-button.active a:nth-child(1),
    .nav-button.active a:nth-child(2),
    .nav-button.active a:nth-child(3) {
        width: 46px;
        height: 39px;
        margin-right: 5px;

    }
}

@media screen and (max-width: 414px) {

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        top: -400px;
        left: 65%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        top: 150px;
        left: 20px;
    }

    .details.act1 .one .header,
    .details.act2 .two .header,
    .details.act3 .three .header {
        font-size: 1.05em;
    }

    .details.act1 .section-header,
    .details.act2 .section-header,
    .details.act3 .section-header {
        font-size: 1.5em;
    }

    .details.act1 .paragraph,
    .details.act2 .paragraph,
    .details.act3 .paragraph {
        width: 110%;
        font-size: 0.9em;
        margin-bottom: 5px;
    }

    .details.act2 a,
    .details.act3 a {
        margin: 0px 5px;
        width: 100px;
        height: 30px;
        font-size: 10px;
    }

    .nav-button.active {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 320px) {

    .main-circle.act1 .circle,
    .main-circle.act2 .circle,
    .main-circle.act3 .circle {
        top: -320px;
        left: 60%;
    }

    .details.act1 .one,
    .details.act2 .two,
    .details.act3 .three {
        top: 75px;
        left: 10px;
    }

    .details.act1 .one .header,
    .details.act2 .two .header,
    .details.act3 .three .header {
        font-size: 0.75em;
    }

    .details.act1 .section-header,
    .details.act2 .section-header,
    .details.act3 .section-header {
        font-size: 0.6em;
    }

    .details.act1 .paragraph,
    .details.act2 .paragraph,
    .details.act3 .paragraph {
        font-size: 0.5em;
    }
}